.app .Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app .record-btn {
  border-radius: 8px;
  height: 40px;
  width: 200px;
  border: 1px solid;
  font-family: Oswald;
  font-weight: bold;
  background-color: rgb(198, 255, 113);
}